 @import url('https://fonts.googleapis.com/css2?family=Courgette&family=IM+Fell+English&family=IM+Fell+English+SC&family=Kalam:wght@700&family=Lobster&family=Share+Tech&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Courgette&family=IM+Fell+English&family=IM+Fell+English+SC&family=Kalam:wght@700&family=Lobster&family=Share+Tech&display=swap');
 body{
    background-image: url(/img/background.jpg);
}

*{
    font-family: 'IM Fell English', serif;
}
/*Scrolling*/

::-webkit-scrollbar{
    width: 1vw;
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(38 173 220);
    max-height: 25%;
}

/*Pergaminho*/
#pergaminho{
    width: 100%;
    cursor: pointer;
    transition: all 3s;
    margin: 30vh 0vw 0 0vw;
    z-index: 1;
    position: relative;
}
#pergaminho:hover{
    filter: drop-shadow(20px 20px 20px rgb(43, 61, 255));
}
.click_pergaminho{
    display: grid;
    place-items: center;
    color: rgb(0, 0, 0);
    background-color: rgb(118, 118, 225);
    width: 13vw;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto;
    font-size: 1vw;
    transition: all 1s;
}
.abrir{
    transition: all 1.3s;
    opacity: 0;
}
/*Abertura de pergaminho*/
.open{
    transition: all 3s;
    transform: translateY(-80%);
}
.container_papel{
    display: block;
}
.container_main{
    transition: all 10s;
    animation: fade-in-top 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
main{
    background-color: beige;
    margin: 0px 4vw 0px 4vw;    
    display: none;
    transition: all 10s;
    transform: translateY(20%);
    z-index: 2;
    border-radius: 20px 20px 20px 20px;
}
@keyframes fade-in-top {
    0% {
      transform: translateY(-40vh);
      opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100% {
      transform: translateY(-28.5vh);
      opacity: 1;

    }
  }


/*Style img*/

#tsuru{
    max-width: 30%;
}
.tsuru_pai{
    display: flex;
    align-items: center;
    justify-content: center;
}
#linkedinicon{
    max-width: 2vw;
}
#githubicon{
    max-width: 2vw;
}
#construction{
    max-width: 20%;
}

/*First Screen*/

a {
    text-decoration: none;
}
.inicio{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#ola{
    font-size: 2vw;
    margin: 10vh 0 0 10vw;
}
#nome{
    font-size: 3vw;
    margin: 5vh 0 0 11vw
}
#status{
    font-size: 2vw;
    margin: 5vh 0 0 10vw;
}
.botao_inicial{
    margin: 2vh 0 20vh 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#botaogit{
    background-color: black;
    color: white;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}
#botaolink{
    background-color: black;
    color: white;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    margin-right: 1vw;
}

/*Sobre*/

.sobre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "area1 area2";
}
#myphoto{
    place-items: center;
    grid-area: area1;
    max-width: 22vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
#myphoto:hover{
    transition: all 0.5s;
    box-shadow: 0 0 20px blue;
}

.photo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sobremim{
    grid-area: area2;
}
#sobre_text{
    width: 35vw;
}
#sobre_tittle{
    font-size: 3vw;
}

/*Tecnology*/

#tech_tittle_filho{
    font-size: 3vw;
}
.tech_tittle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_tech{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;    
}

.navigation {
    display: flex;
    justify-content: center;
}

.image-viewer {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin-bottom: 1rem;
}

.image-viewer img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/*Project*/

#project_tittle{
    text-align: center;
    font-size: 3vw;
}

#pmc_text{
    font-size: 1vw;
    width: 35vw;
    grid-area: text;
    grid-row: 2/3;
}
#pmc_tittle{
    font-size: 2vw;
    text-align: center;
    grid-area: text;
    grid-row: 1/2;
    padding: 0;

}
.pmc_project{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid: 
    "img text";
    justify-content: center;
    align-items: center;
    grid-template-rows: auto auto;
}
#pmc_img{
    max-width: 50%;
    border-radius: 30px 30px 30px 30px;
    justify-self: end;
    margin-right: 2vw;
}

#pmc_button{
    background-color: #26addc;
    color: black;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    border: none;
}

/*Under Construction*/

#construction{
    border-radius: 107px 100px 105px 110px;
    align-items: center;
    justify-content: center;
}
.container_under{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}