
body{
    background-image: url(/img/background.jpg);
}

/*Scrolling*/

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(38 173 220);
    max-height: 30%;
}

/*Pergaminho*/
#pergaminho{
    width: 100%;
    cursor: pointer;
    transition: all 3s;
    margin: 30vh 0vw 0 0vw;
    z-index: 1;
    position: relative;
}

#click_pergaminho{
    display: grid;
    place-items: center;
    color: white;
    background-color: rgb(60, 60, 255);
    max-width: 10vw;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto;
    font-size: 1vw;
    margin-top: 0;
    box-sizing: border-box;
}
/*Abertura de pergaminho*/
.open{
    transition: all 3s;
    transform: translateY(-80%);
}
.container_papel{
    display: block;
}
.container_main{
    transition: all 10s;
    animation: fade-in-top 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
main{
    background-color: beige;
    margin: 0px 4vw 0px 4vw;    
    display: none;
    transition: all 10s;
    transform: translateY(20%);
    z-index: 2;
}
@keyframes fade-in-top {
    0% {
      transform: translateY(-30%);
      opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100% {
      transform: translateY(-33vh);
      opacity: 1;
    }
  }


/*Style*/
#tsuru{
    max-width: 20%;
}
#myphoto{
    max-width: 20%;
}
#linkedinicon{
    max-width: 2%;
}
#githubicon{
    max-width: 2%;
}
#pmc{
    max-width: 50%;
    border-radius: 30px 30px 30px 30px;
}